       <!DOCTYPE html>
<html>
 <head>
   <link rel="stylesheet"type="text/css" href="css/style.css">
  <meta charset="UTF-8">
  <title>title</title>
 </head>
 <body>
   <div id="world"><marquee behavior = "alternate" direction = "right" scrollamount = "10">
    
  
     <% if @blocks.blocks[0] == "red" %>
   <img src="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[1] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[2] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[3] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[4] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[5] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[6] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[7] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[8] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[9] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[10] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
      <% if @blocks.blocks[11] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[12] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[13] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[14] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[15] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
      <% if @blocks.blocks[16] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
      <% if @blocks.blocks[17] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[18] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[19] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <br>
   <% if @blocks.blocks[20] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[21] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[22] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[23] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
      <% if @blocks.blocks[24] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[25] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[26] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[27] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[28] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[29] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[30] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
      <% if @blocks.blocks[31] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[32] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[33] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[34] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[35] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
      <% if @blocks.blocks[36] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
      <% if @blocks.blocks[37] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[38] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[39] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <br>
   <% if @blocks.blocks[40] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[41] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[42] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[43] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
      <% if @blocks.blocks[44] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[45] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[46] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[47] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[48] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[49] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[50] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
      <% if @blocks.blocks[51] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[52] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[53] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[54] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[55] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
      <% if @blocks.blocks[56] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
      <% if @blocks.blocks[57] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[58] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[59] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <br>
   <% if @blocks.blocks[60] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[61] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[62] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[63] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
      <% if @blocks.blocks[64] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[65] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[66] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[67] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[68] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[69] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[70] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
      <% if @blocks.blocks[71] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[72] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[73] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[74] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[75] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
      <% if @blocks.blocks[76] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
      <% if @blocks.blocks[77] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[78] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[79] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <br>
   <% if @blocks.blocks[80] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[81] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[82] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[83] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
      <% if @blocks.blocks[84] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[85] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[86] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[87] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[88] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[89] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[90] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
      <% if @blocks.blocks[91] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[92] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[93] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[94] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[95] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
      <% if @blocks.blocks[96] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
      <% if @blocks.blocks[97] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[98] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[99] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <br>
   <% if @blocks.blocks[100] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[101] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[102] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[103] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
      <% if @blocks.blocks[104] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[105] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[106] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[107] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[108] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[109] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[110] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
      <% if @blocks.blocks[111] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[112] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[113] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[114] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[115] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
      <% if @blocks.blocks[116] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
      <% if @blocks.blocks[117] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[118] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[119] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <br>
   <% if @blocks.blocks[120] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[121] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[122] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[123] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
      <% if @blocks.blocks[124] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[125] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[126] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[127] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[128] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[129] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[130] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
      <% if @blocks.blocks[131] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[132] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[133] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[134] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[135] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
      <% if @blocks.blocks[136] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
      <% if @blocks.blocks[137] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[138] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[139] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <br>
   <% if @blocks.blocks[140] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[141] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[142] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[143] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
         <% if @blocks.blocks[144] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[145] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[146] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[147] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[148] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[149] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[150] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
      <% if @blocks.blocks[151] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[152] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[153] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[154] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[155] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
      <% if @blocks.blocks[156] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
      <% if @blocks.blocks[157] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[158] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[159] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <br>
   <% if @blocks.blocks[160] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[161] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[162] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[163] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
    <% if @blocks.blocks[164] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[165] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[166] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[167] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[168] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[169] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[170] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
      <% if @blocks.blocks[171] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[172] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[173] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[174] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[175] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
      <% if @blocks.blocks[176] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
      <% if @blocks.blocks[177] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[178] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[179] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <br>
   <% if @blocks.blocks[180] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[181] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[182] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[183] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[184] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[185] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[186] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[187] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[188] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[189] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[190] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
      <% if @blocks.blocks[191] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[192] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[193] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[194] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[195] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
      <% if @blocks.blocks[196] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
      <% if @blocks.blocks[197] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[198] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
   <% if @blocks.blocks[199] == "red" %>
   <img src ="images/Red.png">
   <% else %>
   <img src ="images/Blue.png">
   <% end %>
     </marquee></div>
   <h1> This Is A Randomly Generated Pattern</h1>
   <a href='pattern2'> <button>Generate Another Pattern</button></a>
 </body>
</html>