<!DOCTYPE html>
<html>
 <head>
   <link rel="stylesheet"type="text/css" href="css/pattern_start.css">
  <meta charset="UTF-8">
  <title>title</title>
 </head>
 <body>
  <button><a href='pattern'><font color = 'white'>Eight</font></a></button>
    <button><a href='pattern2'><font color = 'white'>Empty</font></a></button>
  <button><a href='pattern3'><font color = 'white'>Lines</font></a></button>
   <h1>Pick The One You Want In The Center Of Your Pattern!</h1>
 </body>
</html>